@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
}

.menu h1 {
  margin-bottom: 3rem;
}

.modes {
  margin-top: 1.75rem;
  display: flex;
  justify-content: space-around;
}

.names {
  display: none;
}

.input-fields {
  font-size: 0.75em;
  text-align: center;
  padding: 2px;
  margin-top: 0.25em;
}

.diffculty-selector {
  margin-top: 1.25rem;
}

option, select {
  font-size: 18px;
}

#playBtn {
  font-size: inherit;
  color: inherit;
}

.play-area {
  display: none;
}

.scores-container {
  display: flex;
  justify-content: space-around;
  max-width: 65%;
  margin: 4rem auto 3rem;
}

.scores-container > div {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.75rem;
  border-radius: 25px;
}

.scores-container span {
  font-size: 1.25rem;
}

.gameboard {
  background: rgb(255,255,255);
  margin: auto;
  width: fit-content;
  margin-bottom: 3rem;
}

table {
  border-collapse: collapse;
}

td {
  font-size: 3rem;
  height: 160px;
  width: 160px;
  padding: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  transition: 100ms;
  cursor: pointer;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.round-counter {
  text-align: center;
  margin-bottom: 3rem;
}

.btn-container {
  width: 40vh;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-around;
}

.all-btn {
  font-size: 1rem;
  padding: 6px;
  border-radius: 30px;
  cursor: pointer;
}

.corner {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-out;
  padding: 1rem;
  border: none;
  z-index: 10;
  text-align: center;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


.animateMarker {
    animation: animateMarker 0.3s forwards;
}
  
@keyframes animateMarker {
    0% {font-size: 0;}
    60% {font-size: 3.75rem;}
    100% {font-size: 3rem;}
}
  
.markWin {
    animation: markWin 1.6s forwards;
}
  
@keyframes markWin {
    0% {font-size: 3rem;}
    50% {font-size: 4.5rem; color: rgb(63, 195, 128);}
    100% {font-size: 3rem; color: #000;}
}
  
.fadeMarkers {
    animation-name: fadeMarkers;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
} 
  
@keyframes fadeMarkers {
    0% {font-size: 3rem;}
    100% {font-size: 0;
          color: transparent;}
}
  
.glow-player {
    animation: glow-score 0.5s forwards;
}
  
.remove-glow {
    animation: glow-score 0.2s forwards reverse;
}
  
@keyframes glow-player {
    0% {box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
         background-color: none;}
    100% {color: rgb(0, 0, 0);
          border: none;
          outline: none;
          background-color: rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 5px rgba(255, 99, 71, 0.7), 0 0 35px rgba(255, 99, 71, 0.8);} 
}
  