table {
    border-collapse: collapse;
    margin: 70px auto 0;
}

td {
    font-size: 2.5rem;
    height: 120px;
    width: 120px;
    padding: 1rem;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

/* .winMoves {
    background-color: blanchedalmond;
    transform: scale(1.05);
    transition: ease-in;
} */


. {
    /* Set the default background color */
    background-color: white;     /* Enable the positioning of the pseudo element */
    position: relative;
    
    &::after {
      /* Set the new background color */
      background-color: black;     /* Render the pseudo element */
      content: "";                 /* Cover the entire page with the pseudo element */
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;    /* Render the new background color beneath the page content */
      z-index: -1;    /* Toggle opacity between 0 and 1 (with styled-components) */
      opacity: ${props => props.darkMode ? 1 : 0};    /* Animate opacity changes */
      transition: opacity 300ms;
    }
  } 

  @keyframes example {
    from {background-color: transparent;}
    to {background-color: yellow;}
  }
  
  /* The element to apply the animation to */
  .winMoves {
    animation-name: example;
    animation-duration: 2s;
  }